      /*begin*/
body{
  margin: 0;
  padding:0 ;
}
*{
  box-sizing: border-box;
}
/*heder design*/
.header {
  height: 20vh;
  width: 100vw;
  background: blue;
  position: fixed;
  top:0;
  left: 0 ;
  right: 0;
  z-index: 1;
}
.portabook{
  position: absolute;
  top: 0 ;
  left: 0;
  margin: 0;
 height: 100%;
 width:auto;
 
}
.portabook .Logo2{
  height: 20vh;
  width:30vw;
  margin-right: 3vw;
}
/* Eend here*/

.copyright img{
  width: 30vw;
  height:35vh;
  padding: auto;
  margin-top: 110vh;
  margin-left: 35vw;
  margin-right: 35vw;



}
 

.copyrights p{
  font-family: Monospace;
  text-align: center;
}

/* ends here */

.container{
  width: 100vw;
  height: 100vh;
  margin-top: 20vh;
}

.nav-container{
  width: 100vw;
  margin-top: 20vh;
  border-top: 2px solid black;
  margin-bottom: 5vh;

}
.nav-container h3{
  
  display: inline;
  width: 50vw;
  margin: 0;
  float: left;
  text-align: center;
  background: royalblue;
  border: 2px solid blue;
  padding-bottom: 5px; 
  padding-top: 5px;
  color: white;

  
}

.users-container{
  
  margin-top: 5vh;
  border: 2px solid blue;
  height: 100vh;
  width: 100vw;
  /* background: darkgreen; */
  justify-content: center;
  overflow: scroll;
}
.users{
  width: 95vw;
  margin-top: 10px;
  height: auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid blue ;
  box-shadow: 5px 5px 3px lightgray;
}
.user-element{
  display: inline;
  padding: 8px;
}
.ELRN ,.LRN{
  font-size: 75%;
  font-family: italic;
  font-stretch: expanded;
  
  
}
.LRN{
  width: 45%;
  letter-spacing: 2px;
  margin-bottom: 5px;
  
}
.blue{
  border: 2px solid blue;
  background: royalblue;
  width: 17vw;
  }
  .val{
    background: #f2f2f2;
  }