 /*begin*/
*{
  box-sizing: border-box;
}
/*heder design*/
.header {
  height: 20vh;
  width: 100vw;
  background: blue;
  position: fixed;
  top:0;
  left: 0 ;
  right: 0;
  z-index: 1;
}
.portabook{
  position: absolute;
  top: 0 ;
  left: 0;
  margin: 0;
 height: 100%;
 width:auto;
 
}
.portabook .Logo2{
  height: 20vh;
  width:30vw;
  margin-right: 3vw;
}
/* Eend here*/

.copyright img{
  width: 30vw;
  height:35vh;
  padding: auto;
  margin-top: 110vh;
  margin-left: 35vw;
  margin-right: 35vw;



}
 

.copyrights p{
  font-family: Monospace;
  text-align: center;
}


/* new batch */

input{
  border: 1px solid blue;
}
:placeholder{
  color: black;
}
form{
  margin-top: 30vh;
  width: 50vw;
  height: auto;
  margin-right: 20vw;
  margin-left: 20vw;
  position: absolute;
  border: 2px solid blue;
  padding: 5px ;
}
input[type="file"]{
  display: none;
}
input[type="text"]{

  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue;
  box-shadow: 5px 5px 3px gray;
  /* display: none; */
  }
  


.input ,  h3 {

 margin-bottom: 2px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.input{
  width: 30vw;
  height: 20%;
  border: 2px solid blue;
  background: royalblue;
  display: block;
  margin-bottom: 10px;
}
.hide{
  display: none;
}